$darkBlue: #1e2140;

$veryDarkBlue: #151932;

$veryLightBlue: #dde1fb;

$white: #fff;

$lightRed: #fc6667;

$lightBlue: #76f1f8;

$magenta: #d980f9;

$whiteText: #dfdfdf;

$greyText: #838383;

$darkText: #2e2e2e;

$darkGray: #2e2e2e;

$gradient1: linear-gradient(135deg, #1e2140 15%, #292e5e);
