* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    background-color: $darkBlue;
    @extend .center-f;
    flex-direction: column;
}
.center-f {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-g {
    display: flex;
    justify-content: center;
    align-items: center;
}
button, input {
    outline: none;
    border: none;
}
li {
    list-style: none;
}
h4 {
    font-size: 1.2rem;
    letter-spacing: 5px;
    color: $darkText;
    margin-block: 1rem;
}